.cutColor {
    background-color: rgb(107, 106, 110) !important;
    color: white !important;

}

.myChild {
    background-color: rgb(217, 212, 243) !important;
}



.myChild1 {
    background-color: rgb(247, 220, 220) !important;
}

/*اصفر*/
.colX1 {
    background-color: rgb(236, 236, 188) !important;
}

/*أزرق*/
.colX2 {
    background-color: rgb(186, 225, 248) !important;
}

/*احمر*/
.colX3 {
    background-color: rgb(245, 192, 192) !important;
}

/*اخضر*/
.colX4 {
    background-color: rgb(186, 240, 188) !important;
}

small {
    background-color: #ebebeb;
    display: block;
}

.jcontextmenu {
    background-color: rgb(186, 225, 248) !important;
    /* display: block !important; */
    /* font-size: 20px !important; */
    font-weight: bold !important;
    color: rgb(13, 13, 129) !important;
    /* width: 500px;
     text-align: right !important;
direction: rtl !important; */
}

.tableSize {
    /* max-width: 2239px !important; */
    max-width: 2235px !important;
}

.tmp_Table_Class {
    max-height: 320px !important;
    overflow-y: auto;
    width: 100% !important;
    /* height: 50vh; */
}

.table {
    width: 100% !important;
    max-height: 320px !important;
    overflow-y: auto;

}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dt_tmp_task {
    overflow: auto;

}

.dt_tmp_user {
    overflow: auto;
    /*  margin-top: 50%;*/
}

.dt_tmp_proj_d {
    overflow: auto;

}

.dt_tmp_part_type {
    overflow: auto;

}

.dt_tmp_site {
    overflow: auto;

}

.dt_tmp_up {
    overflow: auto;
}

.dt_tmp_down {
    /* overflow: auto;*/
    margin-top: 1vh;
}

.toast {
    font-size: 1.2rem !important;
}

.txt_srch {
    width: 70px !important;
    margin: 0px !important;
    padding: 0px !important;
}